

{{> menutrainer id="dashboardtrainer"}}

<section class="ui raised segment">
    <header class="ui header">
        Members
    </header>
    <table class="ui celled table">


    {{#each members}}
        <tr>

    
     <td rowspan="2"><i class="github icon"></i> <a href="/dashboardtrainer/"> {{firstname}}  {{lastname}} </a></br></td>
    
    
 </td>



    {{/each}}

    </table>


</section>



